.container
  .profile_choices.col-md-12
    %ul
      %li
        %h3 Select dates to see your spending
      %li
        = form_tag user_transactions_path(current_user), :method => :get, :remote => true do
          %li Beginning Date:
          %li
            = select_date(Date.new(Date.today.year, Date.today.month - 1, 1), :prefix => :start_date, :start_year => 10.years.ago.year, :end_year => Date.today.year)
          %br
          %li End Date:
          %li
            = select_date(Date.new(Date.today.year, Date.today.month, Date.today.day), :prefix => :end_date, :start_year => 10.years.ago.year, :end_year => Date.today.year)
            = submit_tag "Search Dates", :class => 'submit_search'
          %br
          %li
            = image_tag 'ajaxSpinner.gif', :class => 'category_waiting'

  / AJAX results here
  .category_index
.category_overview
