.header
  #not_logged_in
    = link_to "Financial Overview!", root_path
    %br
    - if current_user
      Currently logged in as: #{link_to current_user.first_name, user_path(current_user.username)}
      %br
      = link_to 'Import Transactions by CSV', new_user_transaction_import_path(current_user)
      %br
      .logout
        = link_to 'Logout', logout_path
    - else
      Please login or #{link_to "sign-up!", new_user_path}
      %br
      = link_to 'Login with Facebook', '/auth/facebook'
