#new_user
  = simple_form_for @user, :remote => true do |f|
    = f.input :first_name,            :label => false, :placeholder => "First Name"
    = f.input :last_name,             :label => false, :placeholder => "Last Name"
    = f.input :username,              :label => false, :placeholder => "Username"
    = f.input :email,                 :label => false, :placeholder => "E-mail"
    = f.input :password,              :label => false, :placeholder => "Password"
    = f.input :password_confirmation, :label => false, :placeholder => "Password Confirm"
    %div
      = f.submit "Sign Up!"
