.container.main-container
  %h1 Import Transactions

  %p At the moment you need to have the following headers, exactly, in your CSV for the import to work correctly:

  %p Mandatory
  %ul
    %li Master Category
    %li Date
    %li Description
    %li Amount

  %p Optional
  %ul
    %li Location

  = form_for [current_user, @transaction_import], multipart: true do |f|
    - if @transaction_import.errors.any?
      #import_errors
        %h2= "#{pluralize(@transaction_import.errors.count, 'error')} prohibited this import from completing:"
        %ul
          - @transaction_import.errors.full_messages.each do |message|
            %li= message

    = f.file_field :file
    = f.submit "Import"
