.summary_box_header
  %ul
    %li
      %h3 Category: #{category.name} (#{transactions.length} items)
    %li #{start_date} - #{end_date}
  .close_box
    Close!

.summary_box_items
  %table
    - transactions.each do |transaction|      
      %tr.transaction_items
        %td
          #col_organize
            = transaction.date.strftime('%m/%d/%Y')
        %td
          #descrip_organize
            = truncate(transaction.description, :length => 85)
        %td
          #col_organize
            = number_to_currency(transaction.amount, :unit => "$")