%h3 Transactions from: #{start_date} to #{end_date}
%h3 #{days_between} days between

.transactions_all
  %table
    %tr
      %td
        Category
      %td
        Total Count
      %td
        Total Amount
      %td
        Average Amount
    - transactions.each do |category, transaction|
      %tr
        %td
          #col_category_name
            = link_to category.name, category_date_path(:user => user, :category => category, :start_date => start_date, :end_date => end_date), :remote => true, :class => 'category_name'
        %td
          #col_organize
            = transaction.count
        %td
          #col_organize
            = number_to_currency(trans_total_amount[category], :unit => "$")
        %td
          #col_organize
            = number_to_currency(trans_total_amount[category]/transaction.count, :unit => "$")
