.container
  %h1 Transactions from: #{@start_date} to #{@end_date}
  %h2 #{@days_between} days between 


  %h3= link_to 'Search Again', user_path(current_user.username)
  .transactions_all
    %table
      %tr
        %td
          Category
        %td
          Total Count
        %td
          Total Amount
        %td
          Average Amount
      - @transactions.each do |category, transaction|
        %tr 
          %td
            = link_to category, user_category_path(@user, category)
          %td
            #col_organize
              = transaction.count
          %td
            #col_organize
              = number_to_currency(@trans_total_amount[category], :unit => "$")
          %td
            #col_organize
              = number_to_currency(@trans_total_amount[category]/transaction.count, :unit => "$") 
  / %br
  / .transactions_all
  /   %table
  /     %tr
  /       %td
  /         Date
  /       %td
  /         Category
  /       %td
  /         Description
  /       %td
  /         Amount
  /     - @transactions.each do |category, transaction|
  /       - transaction.each do |trans|
  /         %tr 
  /           %td
  /             = trans.date.strftime('%m-%d-%y')
  /           %td
  /             = truncate(category)
  /           %td
  /             = truncate(trans.description)
  /           %td
  /             #col_organize
  /               = number_to_currency(trans.amount, :unit => "$")