.container
  %h1 All Transactions
  %h5= link_to 'Search Again', user_path(current_user)
  .transactions_all
    %table
      %tr
        %td
          Category
        %td
          Number of Transactions
        %td
          Sum of Transactions
      - @transactions.each do |category, transaction|
        %tr 
          %td
            = category
          %td
            = transaction.count
          %td
            = number_to_currency(@trans_total_amount[category], :unit => "$")
  %br
  .transactions_all
    %table
      %tr
        %td
          Date
        %td
          Category
        %td
          Description
        %td
          Amount
      - @transactions.each do |category, transaction|
        - transaction.each do |trans|
          %tr 
            %td
              = category
            %td
              = trans.date
            %td
              = trans.description
            %td
              = trans.amount