.container
  %h1 All Transactions
  %h3= link_to 'Search Again', user_path(current_user.username)
  .transactions_all
    %table
      %tr
        %td
          Category
        %td
          Number of Transactions
        %td
          Sum of Transactions
        %td
          Average Transaction Amount

      - @transactions.each do |category, transaction|
        %tr 
          %td
            = category
          %td
            = transaction.count
          %td
            = number_to_currency(@trans_total_amount[category], :unit => "$")
          %td
            = number_to_currency(@trans_total_amount[category]/transaction.count, :unit => "$") 
  %br
  .transactions_all
    %table
      %tr
        %td
          Date
        %td
          Category
        %td
          Description
        %td
          Amount
      - @transactions.each do |category, transaction|
        - transaction.each do |trans|
          %tr 
            %td
              = trans.date.strftime('%m-%d-%y')
            %td
              = truncate(category)
            %td
              = truncate(trans.description)
            %td
              = number_to_currency(trans.amount, :unit => "$")